/* GLOBAL RESET */
* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
.headercontainer {
   padding-left: 100px;
}
/* NAVIGATION / HEADER */
.nav {
    width: 100%;
    background-color: #1f2235;
    padding: 20px 0;
}
 
.nav .info1 h1 {
    color: #e54650;
    font-weight: bold;
    font-size: 32px;
}
 
.nav .info2 ul {
    list-style: none;
    padding-left: 100px;
}
 
.nav .info2 ul li {
    display: inline-block;
    margin-left: 15px;
    font-weight: bold;
    color: white;
}
 
.nav .info2 ul li a {
    color: #e54650;
    font-size: 20px;
    text-decoration: none;
}
 
.nav .info2 .info2_container {
    margin-top: 10px;
}
 
/* INTRO SECTION */
.sect2 {
    width: 100%;
    background-color: #1f2235;
}
 
.sect2_row1_col1 {
    position: relative;
    padding: 50px 20px;
}
 
.sect2_row1_col1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.3;
    z-index: 1;
}
 
.sect2_col1_cont {
    position: relative;
    z-index: 2;
    color: white;
}
 
.sect2_col1_cont h3 {
    font-size: 28px;
    font-weight: bold;
    color: #e54650;
}
 
.sect2_col1_cont h1 {
    font-weight: bold;
    color: white;
    font-size: 28px;
}
 
.sect2_col1_cont p {
    font-size: 20px;
    color: white;
}
 
.academyimg {
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
}
 
/* ABOUT / PROFILE SECTION */
.sect3, .container-fluid {
    overflow: visible;
    width: 100%;
    background-color: #1f2235;
    padding-bottom: 50px;
    color: white;
}
 
.sect3_col2 {
    overflow: visible;
    padding-left: 150px;
    padding-top: 50px;
}
 
.imaginsec {
    width: 350px;
    margin-top: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}
 
.tb {
    margin-top: 20px;
    color: white;
    overflow-x: auto;
}
 
.tb table {
    width: 100%;
    border-collapse: collapse;
}
 
.tb th {
    padding: 10px 5px;
    font-weight: bold;
    font-size: 20px;
    text-align: left;
}
 
.tb td {
    padding: 10px 5px;
    font-size: 18px;
}
 
/* PROJECTS SECTION */
.firstcol, .secondcol {
    margin-top: 50px;
}
 
.firstcol {
    padding-right: 50px;
    border-right: 2px solid white;
}
 
.secondcol {
    padding-left: 50px;
}
 
.firstcol h2, .firstcol h3,
.secondcol h2, .secondcol h3 {
    color: #e54650;
    font-size: 28px;
    padding-bottom: 20px;
}
 
.firstcol p, .firstcol ul li,
.secondcol p, .secondcol ul li {
    font-size: 18px;
}
 
.img {
    margin-top: 20px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}
 
.tb table tbody tr {
    color:white !important;
}
 
/* ========================
   RESPONSIVE STYLES
========================= */
 
/* Tablets (max-width: 1024px) */
@media (max-width: 1024px) {
    .nav .info1, .nav .info2 {
        text-align: center;
        padding: 10px 0;
    }
 
    .nav .info2 ul {
        padding-left: 0;
    }
 
    .nav .info2 ul li {
        display: inline-block;
        margin: 5px 10px;
        font-size: 18px;
    }
 
    .sect3_col2 {
        padding-left: 50px;
    }
 
    .imaginsec {
        width: 250px;
        margin-top: 20px;
    }
 
    .firstcol {
        padding-right: 20px;
        border-right: none;
        margin-bottom: 30px;
    }
 
    .secondcol {
        padding-left: 20px;
    }
}
 
/* Mobile Devices (max-width: 768px) */
@media (max-width: 768px) {
    .headercontainer{
   padding-left: 0px ;
}
    .nav .info1, .nav .info2 {
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }
 
    .nav .info2 ul li {
        display: block;
        margin: 5px 0;
        font-size: 16px;
    }
 
    .nav .info2 ul li a {
        font-size: 16px;
    }
 
    .nav .info1 h1 {
        font-size: 24px;
    }
 
    .sect2_row1_col1, .sect2_row1_col2 {
        text-align: center;
    }
 
    .sect2_col1_cont h1 {
        font-size: 24px;
    }
 
    .sect2_col1_cont h3 {
        font-size: 22px;
    }
 
    .sect2_col1_cont p {
        font-size: 16px;
    }
 
    .imaginsec {
        width: 200px;
        margin-top: 20px;
    }
 
    .sect3_col2 {
        padding-left: 20px;
        padding-top: 20px;
    }
 
    .firstcol, .secondcol {
        padding: 0 15px;
    }
}
 
/* Small Mobile Devices (max-width: 480px) */
@media (max-width: 480px) {
    .nav .info1 h1 {
        font-size: 20px;
    }
 
    .nav .info2 ul li {
        font-size: 14px;
    }
 
    .nav .info2 ul li a {
        font-size: 14px;
    }
 
    .sect2_col1_cont h1 {
        font-size: 20px;
    }
 
    .sect2_col1_cont h3 {
        font-size: 18px;
    }
 
    .sect2_col1_cont p {
        font-size: 14px;
    }
 
    .imaginsec {
        width: 150px;
        margin-top: 10px;
    }
 
    .firstcol h2, .secondcol h2 {
        font-size: 20px;
    }
 
    .firstcol h3, .secondcol h3 {
        font-size: 18px;
    }
 
    .firstcol p, .secondcol p,
    .firstcol ul li, .secondcol ul li {
        font-size: 14px;
    }
 
    .tb th, .tb td {
        font-size: 14px;
        padding: 5px;
    }
}